@import "variables";


#contact {
    padding: $sec-pad;

    #title {
        color: $blue-darker;
    }

    .card {
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12) ;      
                      border: none;
    }

    .icon {
        background-color: $blue-lighter-2;
        color: $blue-lighter;
        border-radius: 50%;
        height: 2.5rem; width: 2.5rem;
        display: flex; align-items: center;
        justify-content: center;
        font-size: 1.25rem;

        &, & * {
            padding: 0; margin: 0;
        }
    }

    #map {
        flex-grow: 1;
    }

    #form_name, #form_email, #form_subject, #form_message {
        box-shadow: none;
        border-radius: 0;
}
}
