@import "variables";

#isotope {
  display: flex;
  flex-flow: column;
  #iso-buttons {
    background-color: white;
    width: fit-content;
    align-self: center;
    border-radius: 50px;
    margin: 3rem 0 2rem 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);

    .iso-button {
      border: none;
      text-transform: uppercase;
      background-color: white;
      margin: 0.5rem 1.5rem;
      transition: all 0.3s ease-out;

      &:hover {
        color: $blue-light;
      }
    }
  }

  #iso-items {
    height: 100%;
    width: 100%;

    .item-sizer,
    .iso-item {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 45%;
        margin-left: 5%;
      }

      @include media-breakpoint-up(lg) {
        width: 30%;
        margin-left: 3%;
      }
    }

    .iso-item {
      overflow: hidden;

      div {
        transition: all 0.2s linear;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0%;
        background-color: rgba(20, 157, 221, 0.75);
        z-index: 2;

        .btn-more, .btn-details {
          transition: all 0.3s ease-out;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          width: 100%;
          border: none;
          color: $light;
          font-size: 1.25rem;

          &:hover {
            background-color: $blue-lighter;
          }
        }

        .btn-more {
          border-right: 0.5px dotted $light;
        }
      }

      &:hover {
        div {
          height: 20%;
        }
      }

      .img-fluid::before {
        transition: 0.3s all ease-out;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
        z-index: 1;
      }
      
      // .img-fluid:hover::before {
      //   background: rgba(255, 255, 255, 0.25);
      // }

      &:hover {
        .img-fluid::before {
          background: rgba(255, 255, 255, 0.25);
        }
      }
    }
  }
}
