@import "variables";

#sidebar {
  flex-flow: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15rem;
  z-index: 1;
  height: 100%;
  background-color: $black-2;
  transition: all 0.3s ease-out;
  display: flex;

  .nav-item {
    div,
    a {
      transition: all 0.3s ease-out;
    }
  }

  .nav-item:hover {
    a {
      color: $light !important;
      transform: scale(1.25);
      margin: auto 2.5px;
    }

    div {
      color: $blue-lighter !important;
      transform: scale(1.25);
      margin: auto 2.5px;
    }
  }
  #name {
    color: white;
    letter-spacing: 0.1rem;
    margin: 1rem 0;
  }

  .img-fluid {
    height: 6rem;
    margin-top: 1rem;
    width: 6rem;
    border: 0.5rem solid $grey;

    @include media-breakpoint-up(sm) {
      height: 7rem;
      width: 7rem;
    }
  }

  #social-links {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;

    .social-link {
      position: relative;
      padding: 0;
      border-radius: 50%;
      background-color: $grey;
      margin: 0 0.3rem;
      height: 2rem;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-out;

      .icon {
        position: absolute;
        color: white;

        height: 45%;
        width: 45%;
      }

      &:hover {
        background-color: $blue-lighter;
      }
    }
  }
}

@media only screen and (min-width: 0) {
  #sidebar {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1200px) {
  #sidebar {
    transform: none;
  }

  body {
    overflow: auto !important;
  }
}
